@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.sidebar-open {
  transition: width 150ms ease;
  width: 200px;
}

.sidebar-close {
  transition: width 150ms ease;
  min-width: 60px;
  width: 60px;
  overflow: hidden;
}

.main-full {
  transition: width 150ms ease;
  width: calc(100% - 60px);
}

.main-sbopen {
  transition: width 150ms ease;
  width: calc(100% - 200px);
}

.shine {
  background: linear-gradient(270deg, #111, #333, #333, #111);
  background-size: 400% 100%;
  animation: 8s shine ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.btn-sidebar {
  transition: left 150ms ease;
}

.btn-sidebar:hover .btn-close-top {
  transform: translateY(0.15rem) rotate(20deg) translateZ(0px);
}

.btn-sidebar:hover .btn-close-bottom {
  transform: translateY(-0.15rem) rotate(-20deg) translateZ(0px);
}

.btn-close-top {
  transform: translateY(0.15rem) rotate(0deg) translateZ(0px);
}

.btn-close-bottom {
  transform: translateY(-0.15rem) rotate(0deg) translateZ(0px);
}

.btn-open-top {
  transform: translateY(0.15rem) rotate(-20deg) translateZ(0px);
}

.btn-open-bottom {
  transform: translateY(-0.15rem) rotate(20deg) translateZ(0px);
}